// 约定1:把UI的设计稿尺寸，成为我们档位划分的最小界值,从小到大排列；
// 各个档位下，设置HTML字体大小，相对于是在设置不同档位的下1rem背后代表的大小；
// HTML 字体大小如何设置：约定2：用当前档位的界值 / 数；
@no:10;


// 0-320  1rem = 32px;
@media screen and (min-width:0) {
  html {
    font-size: 320px/@no;
  }
}

@media screen and (min-width: 320px) {
  html {
    font-size: 320px/@no;
  }
}

// 360
@media screen and (min-width: 360px) {
  html {
    font-size: 360px/@no;
  }
}

// 375 iphone 678
@media screen and (min-width: 375px) {
  html {
    font-size: 375px/@no;
  }
}
// 384
@media screen and (min-width: 384px) {
  html {
    font-size: 384px/@no;
  }
}
// 400
@media screen and (min-width: 400px) {
  html {
    font-size: 400px/@no;
  }
}
// 414
@media screen and (min-width: 414px) {
  html {
    font-size: 414px/@no;
  }
    
}
// 424
@media screen and (min-width: 424px) {
  html {
    font-size: 424px/@no;
  }
}
// 480
@media screen and (min-width: 480px) {
  html {
    font-size: 480px/@no;
  }
}
// 540
@media screen and (min-width: 540px) {
  html {
    font-size: 540px/@no;
  }
}
// 720
@media screen and (min-width: 720px) {
  html {
    font-size: 720px/@no;
  }
}
// 750
@media screen and (min-width: 750px) {
  html {
    font-size: 750px/@no;
  }
} 